* {
  font-family: "Open Sans";
  margin: 0;
  /* border: red 1px solid; */
}

body {
  background-color: #fafbfd;
  margin: 0;
}

.bodyLayout {
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;

  /* Responsive padding */
  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1024px) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @media (min-width: 1440px) {
    padding-left: 96px;
    padding-right: 96px;
    max-width: 1280px; /* Membatasi lebar maksimal konten */
    margin: 0 auto; /* Pusatkan konten */
  }
}

a {
  color: #0061ff;
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: none;
  appearance: none;
}

nav {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;

  /* Responsive padding */

  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1024px) {
    padding-left: 128px;
    padding-right: 128px;
  }

  
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  margin-right: 40px;
  text-decoration: none;
  color: black;
}

.navlink:hover {
  color: #0061ff;
  font-weight: bold;
}

.clickableicon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes {
  width: 32px;
}

.accactionbtn img {
  height: 64px;
}

.greetings {
  padding: 48px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greet {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subgreet {
  font-size: 20px;
  font-weight: 400;
  margin-left: 4px;
}

.profile {
  display: flex;
  align-items: center;
}

.profiledata {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 18px;
  text-align: right;
}

.profilepicture {
  margin-left: 24px;
  border-radius: 100%;
  border: #0061ff 4px solid;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.account-type{
  font-size: 16px;
}

.maininfo {
  padding: 8px 64px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.accno {
  display: flex;
  flex: 25;
  flex-direction: column;
  padding: 40px;
  background-color: #0061ff;
  border-radius: 16px;
  height: 80px;
  color: white;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.info{
  font-size: 32px;
}

.accbalance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.accinfo {
  display: flex;
  flex: 75;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
  height: 80px;
  color: black;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0px 40px rgb(0 0 0 / 0.04);
}

.accaction {
  display: flex;
  gap: 40px;
}

.accactionbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.maininfo h2 {
  font-size: 40px;
}

.maininfo p {
  font-size: 20px;
}

.balanceamount {
  display: flex;
  gap: 16px;
}

.inputFieldText {
  background-color: #fafbfd;
  border: none;
  border-radius: 6px;
  height: 32px;
  padding: 6px 16px 8px 16px;
  font-size: 16px;
}

.inputFieldText:focus {
  outline: 1px solid #0061ff;
  box-shadow: 0 0 12px rgba(0, 97, 255, 0.2);
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  height: 100vh;
  background-color: white;
  width: 100%;
}

.primaryButton {
  cursor: pointer;
  background-color: #0061ff;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  height: 46px;
  font-size: 16px;
}

.authLogo {
  height: 64px;
}

.tighterGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.authLayout {
  display: flex;
}

.authImage {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.pageTitle {
  margin: 40px 0px;
  text-align: center;
  font-size: 32px;
}

.transactionSection {
  display: flex;
  justify-content: center;
}

.transactionInputGroup {
  display: flex;
  flex-direction: column;
  padding: 40px 56px;
  gap: 32px;
  width: 40%;
  background-color: white;
  border-radius: 16px;
  color: black;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0px 40px rgb(0 0 0 / 0.04);
}

.inputGroupWithSpan {
  display: flex;
  width: calc(100% + 32px);
  gap: 16px;
}

.inputSpan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  height: 46px;
  font-size: 16px;
}

.balInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0062ff0f;
  padding: 0px 16px;
  width: 100%;
  border: 1px solid #0061ff;
  border-radius: 6px;
  color: #0061ff;
  font-weight: bold;
  height: 46px;
  font-size: 16px;
}

.dropdownInput {
  background-color: #fafbfd;
  border: none;
  border-radius: 6px;
  height: 46px;
  font-size: 16px;
  padding: 0px 16px;
  width: calc(75% + 32px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.dropdownInput:focus {
  outline: 1px solid #0061ff;
  box-shadow: 0 0 12px rgba(0, 97, 255, 0.2);
}

.modalRadius {
  border-radius: 16px;
}

.modalButton {
  background-color: #0061ff;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  height: 46px;
  font-size: 16px;
}

.modalButtonSecondary {
  background-color: #0062ff0f;
  border-radius: 6px;
  border: 1px solid #0061ff;
  color: #0061ff;
  font-weight: bold;
  height: 46px;
  font-size: 16px;
}

.transactionTableLayout {
  display: flex;
  flex-direction: column;
  padding: 40px 64px;
}

.tableContainer {
  padding: 20px 20px 10px 20px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0px 40px rgb(0 0 0 / 0.04);
}

.inputFieldPasswordWrapper {
  display: flex;
  width: calc(64% + 32px);
  gap: 8px;
  position: relative;
}

.wHideIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #fafbfd;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 60px;
  background-image: url("/view.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
